.navbar {
  background-color: light-dark(var(--mantine-color-white), #263042);
  height: 100vh;
  width: 250px;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  flex-shrink: 0; // Prevent shrinking
}