.navbar {
  background-color: light-dark(var(--mantine-color-light-4), #263042);
  padding: 5px
}

.searchInput {
  background-color: light-dark(var(--mantine-color-light-4),(var(--mantine-color-dark-5)));
  border: '1px solid #2e3b4e';
}

.profileBox {
  background-color: light-dark(var(--mantine-color-light-4), #38465f);
  border-radius: 10px;
}
