.paper{
    background-color: light-dark(var(--mantine-color-light-5),(var(--mantine-color-dark-7)));
    border-radius: 5px;
    border: 2px solid #1590e2;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.roundedImage {
  border-radius: 5px;
  flex-shrink: 0;
}